{% extends 'information_page/base.html' %}

{% block info_content %}

    <div class="container">
        <h1>About me</h1>
        <p>The page you are browsing was created to present my skills in using the Django Web Framework.</p>
        <div class="container">
            <p>More of my projects you will find in links below:</p>
            <p><a href="https://github.com/serasm?tab=repositories">Github</a></p>
            <p><a href="https://bitbucket.org/serasmi/">Bitbucket</a></p>
        </div>
    </div>

{% endblock info_content %}